.about {
  background-color: #f9f9f9;
  padding-top: 8rem ;
  padding-left: 2rem;
  padding-right:2rem;
  text-align: center;


  &__intro {
      margin-bottom: 2.5rem;
  }

  &__title {
      font-size: 2.5rem;
      color: #333;
      margin: 0;
  }

  &__subtitle {
      font-size: 1.8rem;
      color: #555;
      margin: 0.625rem 0;
  }

  &__description {
      font-size: 1.2rem;
      color: #777;
      font-weight: bold;
      margin: 1.25rem 0;
  }

  &__container {
      background-color: #ffffff;
      border-radius: 0.5rem;
      box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
      padding: 3rem;
  }

  &__subtitle--main {
      font-size: 2rem;
      color: #333;
      margin: 1.25rem 0;
  }

  &__text {
      font-size: 1.1rem;
      color: #555;
      margin-bottom: 1.25rem;
  }

  &__button {
      display: inline-block;
      background-color: #007bff;
      color: #fff;
      padding: 0.625rem 1.25rem;
      border: none;
      border-radius: 0.3125rem;
      text-decoration: none;
      font-size: 1rem;
      transition: background-color 0.3s ease;
      cursor: pointer;

      &:hover {
          background-color: #0056b3;
      }
  }
}
